.carte {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    border: #F9DAFB;
    position: relative;
}
.info {
    width: 100%;
    height: 100%;
    right: -100%;
    color: #fff;
    position: absolute;
    background: #f9dafb45;
    backdrop-filter: blur(5px);
    border-radius: 50px;
   padding-top: 40%;
   padding-bottom: 60%;
    padding-right: 10%;
    padding-left: 10%;
    transition: 0.5s;
    display:block    
}
.carte:hover .info {
    right:0;
}